!!! 5
%html
  %head
    %title Web
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :javascript_includes
    %script(src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js")
    :javascript
      WebFont.load({
        google: {
          families: ['Raleway:400,700,900:latin', 'Roboto Slab']
        }
      });
    = csrf_meta_tags

  %body
    %main
      = yield

    %footer
      .container
        %ul#footer-links.list-inline
          %li &copy; Copyright 2013, <b>AppName</b>.io
          %li
            %a(href="/") Privacy
          %li
            %a(href="/") ToS
          %li
            %a(href="/") Partners
          %li
            %a(href="#") support@appname.io
